body {
  width: 100%;
}

.photo-top {
  margin-bottom: -0.3%;
}
.photo-top img {
  width: 100%;
}

.menu-login {
  display: flex;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 10px;
}

.menu-login p {
  display: inline;
  padding-left: 21%;
}

.menu-login ul {
  list-style-type: none;
  display: inline;
  padding-left: 25%;
}

.menu-login li {
  display: inline;
  padding-left: 10px;
}

.nav-bar {
  display: flex;
  text-align: center;
  margin-bottom: 3%;
}

.nav-bar img {
  width: 15%;
}

.nav-bar li {
  display: inline;
  padding-left: 5%;
  padding-right: 0.1%;
}

.onglet-aligne {
  display: flex;
  text-align: center;
  background-color: #E1E1E1;
}

.photo-gauche img {
  width: 80%;
}

.photo-centre img {
  width: 80%;
}

.photo-droite img {
  width: 80%;
}

.capucas {
  background-image: url(../images/slideshow-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.paragraphe-blanc {
  position: relative; top: 15%; left:50%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  width: 30%;
  height: 60%;
  padding: 2% 2% 2% 2%;
  background-color: white;
  font-size: 15px;
  line-height: 150%;
}

.paragraphe-blanc h1 {
  margin-top: 0%;
}
